

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0"> 
	<title>司法数据分析界面</title>
    <link href="css/default.css" rel="stylesheet" type="text/css" />
	<!-- 导入jquery库 -->
	<script type="text/javascript" src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.js"></script>
	<!--必要样式-->
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link href="css/demo.css" rel="stylesheet" type="text/css" />
    <link href="css/loaders.css" rel="stylesheet" type="text/css" />
</head>
<body style="overflow-y: scroll;">
	<div class='login'>
	  <div class='login_fields__submit' id="pa">
	    <input type='button' value='爬取文件'>
		<input type="date" name="开始时间" id="startDate">
		———<input type="date" name="结束时间" id="endDate">
	  </div>

	  <div class="login_fields__submit" id="submitFile">
		  <input type="button" value="上传文件" style="position: relative;">
		<input type='file'  value='上传文件' id="submitLocalFile" style="position: absolute;" onchange="upLoadFile()">
		<input type='button' value='开始分析' id="beginAnalyse">
		<br>
		<textarea name="" id="textField" cols="73" rows="10"></textarea>
	  </div>

	  <div class="login_fields" id="analysedResult">
		<div id="differentPro">
			<input type="text" value="当事人 " readonly="readonly" id="mainPerson">
			<input id="inputActive" type="text" value="性别 " readonly="readonly" >
			<input type="text" value="民族 " readonly="readonly" >
			<input type="text" value="出生地 " readonly="readonly" >
			<input type="text" value="案由 " readonly="readonly" >
			<input type="text" value="相关法院" readonly="readonly" >
		</div>

		<div id="mark" style="overflow-y: auto;">
			<div id="noun">
				<span>名词</span>
				<br>
					<div class="leftOne">
																	
					</div>

					<div class="rightOne">
						
					</div>
			</div>
			
			<div id="verb">
				<span>动词</span>
				<br>

				<div class="leftOne">											
				</div>

				<div class="rightOne">					
				</div>
			</div>

			<div id="adj">
				<span>形容词</span>
				<br>
				<div class="leftOne">										
				</div>

				<div class="rightOne">
				</div>
			</div>
		</div>
	  </div>
	  <script src="./js/formTable.js"></script>

	  <div class='success'>
	  </div>
	  <div class="login_fields__submit" id="store">
		<input type='button' value='保存案件与标注' style="text-align: center;" id="save",>
	  </div>  
	</div>
	
	
    <link href="layui/css/layui.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.js"></script> <!-- 这个js文件用于生成json文件-->
	<script src="./js/formMarkfIle.js"></script>
	<script src="./js/uploadFile.js"></script>
	<script src="./js/dataTransport.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="js/jquery-ui.min.js"></script> -->
	<!-- <script type="text/javascript" src='js/stopExecutionOnTimeout.js?t=1'></script> -->
    <script type="text/javascript" src="layui/layui.js"></script>
    <script type="text/javascript" src="js/Particleground.js"></script>
    <script type="text/javascript" src="Js/Treatment.js"></script>
    <script type="text/javascript" src="js/jquery.mockjax.js"></script>
	<script type="text/javascript">

		console.log("-------------------------")
		var canGetCookie = 0;//是否支持存储Cookie 0 不支持 1 支持
		var ajaxmockjax = 1;//是否启用虚拟Ajax的请求响 0 不启用  1 启用
	    
	    $(document).keypress(function (e) {
	        // 回车键事件  
	        if (e.which == 13) {
	            $('input[type="button"]').click();
	        }
	    });
	    //粒子背景特效
	    $('body').particleground({
	        dotColor: '#E8DFE8',
	        lineColor: '#133b88'
	    });
	    $('input[name="pwd"]').focus(function () {
	        $(this).attr('type', 'password');
	    });
	    $('input[type="text"]').focus(function () {
	        $(this).prev().animate({ 'opacity': '1' }, 200);
	    });
	    $('input[name="login"],input[name="pwd"]').keyup(function () {
	        var Len = $(this).val().length;
	        if (!$(this).val() == '' && Len >= 5) {
	            $(this).next().animate({
	                'opacity': '1',
	                'right': '30'
	            }, 200);
	        } else {
	            $(this).next().animate({
	                'opacity': '0',
	                'right': '20'
	            }, 200);
	        }
	    });
	    var open = 0;
		if(ajaxmockjax == 1){
			$.mockjax({  
				url: 'Ajax/Login',  
				status: 200,  
				responseTime: 50,          
				responseText: {"Status":"ok","Text":"登陆成功 <br/> <br/> 欢迎回来"}
			}); 
			$.mockjax({  
				url: 'Ajax/LoginFalse',  
				status: 200,  
				responseTime: 50,          
				responseText: {"Status":"Erro","Erro":"账号名或密码或验证码有误"}
			});   
		}
    </script>
</body>
</html>
